.contentWrapper {
  align-self: center;
  width: 100%;
  max-width: 1440px;
  padding: 24px 16px;
  box-sizing: border-box;
}

@media (min-width: 900px) {
  .contentWrapper {
    padding: 24px;
  }
}
