.wrapper {
  border-bottom: 1px solid #E4E4EA;
}

.wrapper :global(.MuiTabs-root) {
  border-bottom: none;
}

.tabs :global(.MuiTabs-indicator) {
  height: 3px;
}

@media (prefers-color-scheme: dark) {
  .wrapper {
    border-bottom-color: #22222E;
  }
}
